body {
    background-color: #fee785;
	}

hr {
	border-style: dotted none none none;
	border-color: #c83b3b;
	border-width: 3px;
	width: 90%;
	}
h1 {
	color: #a42127;
	text-shadow: 2px 3px 2px #ef9b59;
	}
h2 {
	color: #a42127;
	text-shadow: 2px 3px 2px #ef9b59;
	}